* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/*BODY*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  background: #fff;
  /*overflow: none;
	overflow-x: hidden;
	overflow-y: scroll;
  overflow: hidden;*/
}

nav{
  /*display: inline-flex;*/
  background-color: #ffa000;
  position: fixed;
  padding: 0 5%;
  /*width: 100%;*/
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  /*height: 10vh;*/
  /*justify-content: space-around;*/
  /*position: fixed;*/
  /*flex: 2*/
}
.logo{
  color: white;
}

nav .logo {
  /*background-color: purple;*/
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  float: left;
  width: 50%;
  height: 60px;
  max-height: 60px;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  word-spacing: 2px;
  /*width: 30%;*/
}

nav .links {
  /*background-color: pink;
  display: inline-flex;
  float: right;
  justify-content: space-around;*/
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

nav .links li {
  list-style: none;
}

nav .links a{
  color: #fff;
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  /*float: right;*/
  }

a {
  text-decoration: none;
}
nav a:visited {
  color: #fff;
}

nav .links a:hover{
	text-decoration: underline;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

#showcase {
  display: flex;
  margin: auto;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  /*align-items: center;*/
  background-image: url('../images/ethiopia-cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  justify-content: center; /*horizontal alignment*/
  align-items: center; /*vertical alignment*/
}

.logopic img {
  display: flex;
  width: 400px;
  height: 300px;
  background-attachment: fixed;

}

.container {
  justify-content: center;
  width: 100%;
  /*background-color: green;*/
  box-sizing: border-box;

}

.right-box {
  /*background-color: red;*/
  padding-top: 5%;
  padding-right: 4%;
  float: right;
  width: 80%;
  justify-content: space-around;

}

.left-box {
  text-decoration: underline orange;
  padding-top: 5%;
  padding-left: 5%;
  float: left;
  width: 20%;
  /*background-color: blue;*/
  justify-content: space-around;
}

.us{
/*  background-color: purple;*/
  display: inline-flex;
  width: 80%;
  text-align: center;
}

.manroop{
  width: 50%;
  /*background-color: red;*/
}

.manjpg {
  border: 10px solid orange ;
}


.manroop a{
  letter-spacing: 5px;
}

.priti{
  width: 50%;
  /*background-color: blue;*/
}
.priti a{
  letter-spacing: 5px;
}

.prijpg{
  border: 10px solid orange ;
}

.paragraph {
  display: inline-flex;
}

.website-images img {
    display: inline-flex;
    width: 24%;
    height: 24%;
    padding-top: 5%;

}
 /*#problem {
  display: inline-flex;
}

/*
.prob {
  float: center;
  width: 20%
}

.problem1 {
  float: right;
  width: 70%

}



#solution {
  display: inline-flex;
}

/*
.solu {
  float: center;
  width: 20%
}

.solution1 {
  float: right;
  width: 70%
}


#about {
    display: inline-flex;
  }
/*
  .abo {
    float: center;
    width: 20%
  }

  .about1 {
    float: right;
    width: 70%
  }*/

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  }

/*FUNGERER IKKE
@media(max-width:800px){
.prob {
  width: 100%;
  float: none;
}
.problem1{
  width: 100%;
  float: none;
}
.solu {
  width: 100%;
  float: none;
}
.solution1 {
  width: 100%;
  float: none;
}
.abo {
  width: 100%;
  float: none;
}
.about1 {
  width: 100%;
  float: none;
}

}*/
/*MOBIL DESIGN*/
@media screen and (max-width: 600px){
  /*nav {
    display: inline-flex;
    justify-content: center;
  }*/
  body

  nav .logo {
      float: none;
      width: auto;
      justify-content: center;
        font-size: 14px;

  }
  nav .links {
      float: right;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 10%;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      justify content: space evenly;
      background-color: rgba(0,0,0,8);
      opacity: 0.75;
      overflow: hidden;
      transition: all .5s ease-in-out;

  }
  nav .links a {
      font-size: 20px;
      /*color: #ffa000;
      font-weight: bold;
       text-shadow: 1px 1px black;
      /*display: block;
      padding: 1em;

      color: #fff;
      text-decoration: none;
      */
      }

  nav :checked ~ .links {
     bottom: 0;
  }
  nav .icon-burger {
      display: block;
      /*flex-direction: column;
      align-content: center;*/

    /*  margin-top: 10%;*/
  /*  padding-left: 90px;*/
  }
  nav :checked ~ .icon-burger .line:nth-child(1){
      transform: translateY(10px) rotate(225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(3){
    transform: translateY(-10px) rotate(-225deg);
  }
  nav :checked ~ .icon-burger .line:nth-child(2){
      opacity: 0;
  }

  /*.left-box {
      width: 100%;
      float: inherit;
      padding-top: 80px;
  }

  .right-box {
      width: 100%;
      height: 10%;
      float: inherit;
  }*/

  #showcase {
    display: flex;
    margin: auto;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    /*align-items: center;*/
    background-image: url('../images/ethiopia-cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center; /*horizontal alignment*/
    align-items: center; /*vertical alignment*/
  }
  .logopic img {
    display: flex;
    width: 50%;
    height: 50%;
    margin-left: 25%;
/*   justify content: center;*/
    align-self: center;
    align-items: center; /*vertical alignment*/
    align-content: center;
    }

  .paragraph {
    display: block;
    align-content: center;
  }

  .left-box {
      padding-top: 80px;
      width: 100%;
      float: inherit;

  }
  .right-box {
      margin-left: 5%;
      width: 95%;
      float: inherit;
  }

  .us{
  /*  background-color: purple;*/
  display: flex;
    width: 95%;
    text-align: center;
  }

  .manroop{
    width: 45%;
    /*background-color: red;*/
  }

  .manjpg {
    border: 5px solid orange ;
  }

  .priti{
    width: 45%;
    /*background-color: blue;*/
  }

  .prijpg{
    border: 5px solid orange ;
  }

  .website-images img {
      display: inline-flex;
      width: 24%;
      height: 24%;
      padding-top: 5%;
  }
